* {
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

body {
    margin: 0;
    padding: 0;
    background-color: var(--brown);

    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-shadow: var(--shadow);

    position: relative;
    overflow-x: hidden;
    line-height: 1.7;

    color: var(--gray);
}

.numbers {
    font-family: 'Literata', serif;
}