h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;

    color: var(--gray);
    margin: 0 0 .5em 0;
    padding-bottom: .5em;

    border-bottom: 1px solid var(--golden);
}

h2 {
    margin: 0;
}


