h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 2rem;

    color: var(--gray);
    margin: 0 0 1em 0;
    padding: 0 0 .5em 0;

    border-bottom: 1px solid var(--golden);

}
