* {
    --golden: #c2a050;
    --white: #fff;
    --black: #111;
    --brown: #241609;
    --gray: #F0EDE6;
    --dark-gray: #9f9d9a;
    --shadow: 1px 1px 10px #0c0c0c;
    --shadow-box: 0px 0px 2px #F0EDE6;
} 